In [29]:
## import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [30]:
#reading the data
loan_data = pd.read_csv("loan.csv")

In [31]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [32]:
loan_data.shape

(39717, 111)

In [33]:
loan_data.isnull().sum()

id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2459
emp_length                         1075
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              12940
purpose                               0
title                                11
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
                                  ...
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
Length: 111, dtype: int64

In [34]:
missing_percent = (loan_data.isnull().sum()/len(loan_data))*100
missing_percent

id                                  0.000000
member_id                           0.000000
loan_amnt                           0.000000
funded_amnt                         0.000000
funded_amnt_inv                     0.000000
term                                0.000000
int_rate                            0.000000
installment                         0.000000
grade                               0.000000
sub_grade                           0.000000
emp_title                           6.191303
emp_length                          2.706650
home_ownership                      0.000000
annual_inc                          0.000000
verification_status                 0.000000
issue_d                             0.000000
loan_status                         0.000000
pymnt_plan                          0.000000
url                                 0.000000
desc                               32.580507
purpose                             0.000000
title                               0.027696
zip_code                            0.000000
addr_state                          0.000000
dti                                 0.000000
delinq_2yrs                         0.000000
earliest_cr_line                    0.000000
inq_last_6mths                      0.000000
mths_since_last_delinq             64.662487
mths_since_last_record             92.985372
                                     ...
mo_sin_old_rev_tl_op              100.000000
mo_sin_rcnt_rev_tl_op             100.000000
mo_sin_rcnt_tl                    100.000000
mort_acc                          100.000000
mths_since_recent_bc              100.000000
mths_since_recent_bc_dlq          100.000000
mths_since_recent_inq             100.000000
mths_since_recent_revol_delinq    100.000000
num_accts_ever_120_pd             100.000000
num_actv_bc_tl                    100.000000
num_actv_rev_tl                   100.000000
num_bc_sats                       100.000000
num_bc_tl                         100.000000
num_il_tl                         100.000000
num_op_rev_tl                     100.000000
num_rev_accts                     100.000000
num_rev_tl_bal_gt_0               100.000000
num_sats                          100.000000
num_tl_120dpd_2m                  100.000000
num_tl_30dpd                      100.000000
num_tl_90g_dpd_24m                100.000000
num_tl_op_past_12m                100.000000
pct_tl_nvr_dlq                    100.000000
percent_bc_gt_75                  100.000000
pub_rec_bankruptcies                1.754916
tax_liens                           0.098195
tot_hi_cred_lim                   100.000000
total_bal_ex_mort                 100.000000
total_bc_limit                    100.000000
total_il_high_credit_limit        100.000000
Length: 111, dtype: float64

In [35]:
#deleting columns having more than 50% missing values
missing_values = loan_data.columns[loan_data.isnull().sum()/len(loan_data)*100 >50]
missing_values

Index(['mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d',
       'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')

In [36]:
loan_data = loan_data.drop(missing_values, axis=1)

In [37]:
loan_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.00000,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.00000,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.00000,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.00000,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.00000,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5,1075269,1311441,5000,5000,5000.00000,36 months,7.90%,156.46,A,A4,...,161.03,Jan-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
6,1069639,1304742,7000,7000,7000.00000,60 months,15.96%,170.08,C,C5,...,1313.76,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
7,1072053,1288686,3000,3000,3000.00000,36 months,18.64%,109.43,E,E1,...,111.34,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
8,1071795,1306957,5600,5600,5600.00000,60 months,21.28%,152.39,F,F2,...,152.39,Aug-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
9,1071570,1306721,5375,5375,5350.00000,60 months,12.69%,121.45,B,B5,...,121.45,Mar-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
10,1070078,1305201,6500,6500,6500.00000,60 months,14.65%,153.45,C,C3,...,1655.54,Dec-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
11,1069908,1305008,12000,12000,12000.00000,36 months,12.69%,402.54,B,B5,...,6315.30,Aug-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
12,1064687,1298717,9000,9000,9000.00000,36 months,13.49%,305.38,C,C1,...,305.38,Nov-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
13,1069866,1304956,3000,3000,3000.00000,36 months,9.91%,96.68,B,B1,...,102.43,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
14,1069057,1303503,10000,10000,10000.00000,36 months,10.65%,325.74,B,B2,...,325.74,Mar-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
15,1069759,1304871,1000,1000,1000.00000,36 months,16.29%,35.31,D,D1,...,36.32,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
16,1065775,1299699,10000,10000,10000.00000,36 months,15.27%,347.98,C,C4,...,370.46,Apr-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
17,1069971,1304884,3600,3600,3600.00000,36 months,6.03%,109.57,A,A1,...,583.45,May-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
18,1062474,1294539,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,...,16.98,Jul-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
19,1069742,1304855,9200,9200,9200.00000,36 months,6.03%,280.01,A,A1,...,8061.10,Feb-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
20,1069740,1284848,20250,20250,19142.16108,60 months,15.27%,484.63,C,C4,...,6024.09,Mar-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
21,1039153,1269083,21000,21000,21000.00000,36 months,12.42%,701.73,B,B4,...,701.73,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
22,1069710,1304821,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,...,349.21,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
23,1069700,1304810,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,...,4942.63,Mar-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
24,1069559,1304634,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,...,198.46,Mar-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
25,1069697,1273773,15000,15000,15000.00000,36 months,9.91%,483.38,B,B1,...,2447.05,Sep-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
26,1069800,1304679,15000,15000,8725.00000,36 months,14.27%,514.64,C,C2,...,0.00,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
27,1069657,1304764,5000,5000,5000.00000,60 months,16.77%,123.65,D,D2,...,123.65,May-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
28,1069799,1304678,4000,4000,4000.00000,36 months,11.71%,132.31,B,B3,...,2638.77,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
29,1047704,1278806,8500,8500,8500.00000,36 months,11.71%,281.15,B,B3,...,581.59,Jan-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39687,111307,105982,12000,12000,2500.00000,36 months,12.49%,401.37,D,D3,...,402.93,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39688,111227,111223,20000,20000,2800.00000,36 months,13.43%,678.08,E,E1,...,678.08,May-16,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39689,109355,109346,1200,1200,0.00000,36 months,11.54%,39.60,C,C5,...,39.45,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39690,107136,107130,12250,12250,1525.00000,36 months,10.59%,398.69,C,C2,...,9939.88,Jul-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39691,106360,106333,2700,2700,550.00000,36 months,15.96%,94.88,F,F4,...,96.40,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39692,76597,76583,5000,5000,1775.00000,36 months,9.01%,159.03,B,B2,...,160.61,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39693,106079,106039,3500,3500,1200.00000,36 months,9.96%,112.87,B,B5,...,1798.54,May-16,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39694,90966,90962,5000,5000,4150.00000,36 months,7.43%,155.38,A,A2,...,4397.47,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39695,92440,92423,5000,5000,3100.00000,36 months,7.43%,155.38,A,A2,...,157.38,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39696,102376,95212,25000,25000,525.00000,36 months,10.59%,813.65,C,C2,...,3.54,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39697,101579,100083,10000,10000,400.00000,36 months,10.28%,323.98,C,C1,...,328.93,Oct-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39698,98982,98957,5000,5000,675.00000,36 months,9.01%,159.03,B,B2,...,160.02,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39699,98339,97572,5100,5100,575.00000,36 months,8.38%,160.72,A,A5,...,638.15,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39700,98276,98268,5400,5400,200.00000,36 months,7.75%,168.60,A,A3,...,169.09,Dec-13,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39701,96844,95222,5300,5300,600.00000,36 months,8.38%,167.02,A,A5,...,170.05,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39702,96350,96338,5000,5000,850.00000,36 months,11.22%,164.23,C,C4,...,166.25,Oct-12,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39703,94838,73673,3000,3000,2550.00000,36 months,10.28%,97.20,C,C1,...,98.49,Feb-13,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39704,93277,93254,3000,3000,950.00000,36 months,8.70%,94.98,B,B1,...,97.45,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39705,93061,93057,5000,5000,250.00000,36 months,7.43%,155.38,A,A2,...,157.02,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39706,92676,92671,5000,5000,150.00000,36 months,8.07%,156.84,A,A4,...,157.31,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39707,92666,92661,5000,5000,525.00000,36 months,9.33%,159.77,B,B3,...,161.55,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39708,92552,92542,5000,5000,375.00000,36 months,9.96%,161.25,B,B5,...,162.07,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39709,92533,92529,5000,5000,675.00000,36 months,11.22%,164.23,C,C4,...,165.17,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39710,92507,92502,5000,5000,250.00000,36 months,7.43%,155.38,A,A2,...,156.29,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39711,92402,92390,5000,5000,700.00000,36 months,8.70%,158.30,B,B1,...,159.83,Nov-14,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39712,92187,92174,2500,2500,1075.00000,36 months,8.07%,78.42,A,A4,...,80.90,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39713,90665,90607,8500,8500,875.00000,36 months,10.28%,275.38,C,C1,...,281.94,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39714,90395,90390,5000,5000,1325.00000,36 months,8.07%,156.84,A,A4,...,0.00,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39715,90376,89243,5000,5000,650.00000,36 months,7.43%,155.38,A,A2,...,0.00,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39716,87023,86999,7500,7500,800.00000,36 months,13.75%,255.43,E,E2,...,256.59,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

In [38]:
#checking missing values again 
missing_values=(loan_data.isnull().sum()/len(loan_data))*100
missing_values[missing_values >0]

emp_title                      6.191303
emp_length                     2.706650
desc                          32.580507
title                          0.027696
revol_util                     0.125891
last_pymnt_d                   0.178765
last_credit_pull_d             0.005036
collections_12_mths_ex_med     0.140998
chargeoff_within_12_mths       0.140998
pub_rec_bankruptcies           1.754916
tax_liens                      0.098195
dtype: float64

In [39]:
## deleting desc col as it is very similar to the purpose columns
loan_data.drop('desc', axis = 1, inplace = True)

In [40]:
loan_data.shape

(39717, 53)

In [43]:
loan_data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')